# BAG OF WORDS

### The bag-of-words model is a simplifying representation used in natural language processing and information retrieval (IR). In this model, a text (such as a sentence or a document) is represented as the bag (multiset) of its words, disregarding grammar and even word order but keeping multiplicity.

### Preliminaries

In [1]:
# Load library
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

### Create text data

In [2]:
# Create text
text_data = np.array(['I am Parul Khattar.', 
                      'I live in New Delhi, India.',
                      'India is an incredible nation.',
                      'I love my nation.'])

### Create Bag of Words

In [3]:
# Create the Bag of Words feature matrix
count = CountVectorizer()
bag_of_words = count.fit_transform(text_data)

# Show feature matrix
bag_of_words.toarray()

array([[1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1],
       [0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0],
       [0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0]], dtype=int64)

### View Bag of Words Matrix Column Headers

In [4]:
# Get feature names
feature_names = count.get_feature_names()

# View feature names
feature_names

['am',
 'an',
 'delhi',
 'in',
 'incredible',
 'india',
 'is',
 'khattar',
 'live',
 'love',
 'my',
 'nation',
 'new',
 'parul']

### View as a DataFrame

In [6]:
# Create DataFrame
pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

,am,an,delhi,in,incredible,india,is,khattar,live,love,my,nation,new,parul
0,1,0,0,0,0,0,0,1,0,0,0,0,0,1
1,0,0,1,1,0,1,0,0,1,0,0,0,1,0
2,0,1,0,0,1,1,1,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,1,1,1,0,0